<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <%= stylesheet_link_tag "itword", :media => "all" %>
    </head>

    <body>
 <header>
      </header>
            <div class="text-center">
    <p class="html-link"><%= link_to "HTML CSS学習", root_path %></p>
    <p class="java-link"><%= link_to "Java学習①", java_path %></p>
    <p class="java-link"><%= link_to "Java学習②", java2_path %></p>
    <p class="java-link"><%= link_to "Java学習③", java4_path %></p>
    <p class="java-link"><%= link_to "Javaプログラムコード集", java3_path %></p>
    <p class="java-link"><%= link_to "スッキリわかるJava入門", javabiginner_path %></p>
    <p class="java-link"><%= link_to "PHP", php_path %></p>
    </div>
    
    <p class="title2">ストラテジ系</title2>
    <p class="category"><strong>経営組織論↓</strong></p>
    <p class="text"><strong>経営理念</strong>・・・事業遂行における基本的価値観と目的意識と言われており、この企業または働く人々は何を目的として集まっているのかという根本的な事業目的を端的に表した文章</p><br>
    <p class="text"><strong>株主総会</strong>・・・株式会社の実質的な所有者である株主によって構成され、経営の基本的方針や重要事項を決定する株式愛車の最高意思決定機関。役員に関すること、会計・株式に関することなど多岐にわたる事項が株抜き総会での決議を必要とする</p><br>
    <p class="text"><strong>決算</strong>・・・企業などで一定期間の経営成績や財政の状態をまとめるために行う作業のこと。企業ごと定款で定めることができ、3月が決算月であれば４月１日から３月３１日までの１年間が一会計期間である。</p><br>
    <p class="text"><strong>CSR(Corporate Social Responsibility)</strong>企業活動において経済的成長だけでなく、環境や社会などのステークホルダからの要請に対し、責任を果たすことが企業価値の向上につながるという考え方。企業の社会的責任という意味を持つ。CSRに基づく活動は、法令順守、環境活動、地域社会への貢献、ステークホルダとのコミュニケーションなど多岐にわたる</p>
    
    
    </body>
    </html>
    