<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <%= stylesheet_link_tag "itword", :media => "all" %>
    </head>

    <body>
 <header>
      </header>
            <div class="text-center">
    <p class="html-link"><%= link_to "HTML CSS学習", root_path %></p>
    <p class="java-link"><%= link_to "Java学習①", java_path %></p>
    <p class="java-link"><%= link_to "Java学習②", java2_path %></p>
    <p class="java-link"><%= link_to "Java学習③", java4_path %></p>
    <p class="java-link"><%= link_to "Javaプログラムコード集", java3_path %></p>
    <p class="java-link"><%= link_to "スッキリわかるJava入門", javabiginner_path %></p>
    <p class="java-link"><%= link_to "PHP", php_path %></p>
    </div>
    
    <p class="title2">ストラテジ系</title2>
    <p class="category"><strong>経営組織論↓</strong></p>
    <p class="text"><strong>経営理念</strong>・・・事業遂行における基本的価値観と目的意識と言われており、この企業または働く人々は何を目的として集まっているのかという根本的な事業目的を端的に表した文章</p><br>
    <p class="text"><strong>株主総会</strong>・・・株式会社の実質的な所有者である株主によって構成され、経営の基本的方針や重要事項を決定する株式愛車の最高意思決定機関。役員に関すること、会計・株式に関することなど多岐にわたる事項が株抜き総会での決議を必要とする</p><br>
    <p class="text"><strong>決算</strong>・・・企業などで一定期間の経営成績や財政の状態をまとめるために行う作業のこと。企業ごと定款で定めることができ、3月が決算月であれば４月１日から３月３１日までの１年間が一会計期間である。</p><br>
    <p class="text"><strong>CSR(Corporate Social Responsibility)</strong>・・・企業活動において経済的成長だけでなく、環境や社会などのステークホルダからの要請に対し、責任を果たすことが企業価値の向上につながるという考え方。企業の社会的責任という意味を持つ。CSRに基づく活動は、法令順守、環境活動、地域社会への貢献、ステークホルダとのコミュニケーションなど多岐にわたる</p><br>
    <p class="text"><strong>SRI(Socially Responsible Investment)</strong>・・・社会的責任投資と訳され、企業への投資を行う際に従来から投資基準となっていた経済・財務的な分析に加えて、CSR(企業の社会的責任)への取り組みを考慮する投資手法である</p><br>
    <p class="text"><strong>ディスクロージャ</strong>・・・企業などが投資家や取引先および債権者などの利害関係者に対して、経営や財務の状況をはじめ、各種の情報を広く後悔すること。またはそれを義務付ける情報開示制度のこと</p><br>
    <p class="text"><strong>監査役</strong>・・・日本の株式会社において取締役と会計参与の職務の執行を監査する役割をもつ役職・機関。</p><br>
    <p class="text"><strong>グリーンIT</strong>・・・環境保護の考え方をITに適用した概念。製造や廃棄の工程で有害物質を出さない、省エネルギー化を図る、リサイクル可能な部品を使うなどで環境への負荷を軽減することで環境を保護していくという考え方。</p><br>
    <p class="text"><strong>SDGs(Sustainable Development Goals)</strong>・・・持続可能で多様性と包摂性のある社会の実現のため、2030年の年限とする17の国際目標のこと</p><br>
    <p class="text"><strong>ゼロエミッション</strong>・・・自然界への排出ゼロのシステムを構築する、またはそれを構築するように目指すことを基本的な考え方。</p><br>
    <p class="text"><strong>ステークホルダ</strong>・・・従業員、顧客、株主、得意先、地域などのように、組織の行う活動と利害関係をもつ者。</p><br>
    <p class="text"><strong>コーポレートブランド</strong>・・・ステークホルダが企業に対して抱くイメージや信頼度から得られる、その企業がもつブランド力のこと。</p><br>
    <p class="text"><strong>PDCA(Plan Do Check Act)</strong>・・・計画→実行→評価→見直し・改善の４段階を繰り返すことによって、業務を継続的に改善んする方法。</p><br>
    <p class="text"><strong>OODAループ</strong>・・・OODA(ウーダ)は①Observe(観察)、②Orient(状況判断・方向づけ)、③Decide(意思決定)、④Act(行動)の頭文字を取ったもので、決定と行動に関するフレームワークのひとつ。</p><br>
    <p class="text"><strong>BCP(Business Continuity Plan)</strong>・・・予期せぬ災害が発生した場合に、最低限の事業を継続し、または早期に復旧・再開できるようにする企業が定めた行動計画。事業継続計画ともいう。<br>
    <strong>BCM(Business Continuity Management)</strong>・・・企業が事業を継続するためにBCPを策定し、その運用や見直し、または教育や訓練などを包括的に行う管理プロセスのこと<br>
    <strong>OJT(On the Job Training)</strong>・・・職場内訓練とも呼ばれ、実際の現場で上司や先輩の指導の下で仕事を習得させていく教育方法。<br>
    <strong>Off-JT(Off the Job Training)</strong>・・・実際の現場で行われるOJTに対して、研修や外部セミナーへの参加などの普段の職場を離れた場所で行われる人材教育のこと<br>
    <strong>e-ラーニング</strong>・・・実際に教室に通う、書籍を読むといった従来の学習方法ではなく、PCやモバイル機器を用いて講義を視聴したり問題を解いたりするなど、ICT技術を活用して行う学習や教育の総称。<br>
    <strong>アダプティブラーニング</strong>・・・従来からある画一的な集団学習でなく、生徒ごとの能力や進捗度・習熟度に合わせて、一人ひとりに最適化された学習内容を提供する教育方法のこと。日本語では「適用学習」と呼ばれる。<br>
    <strong>CDP(Career Development Program)</strong>・・・企業内教育・訓練プログラムの一種で、従業員の能力を長期的な計画に基づいて組織的に開発するシステム・プログラム体系のこと。<br>
    <strong>メンタルヘルス</strong>・・・精神的な健康状態のこと。<br>
    <strong>HRテック(Human Resources Technology)</strong>・・・HR(Human Resource=人事)×テック(テクノロジー)の略。人的資源の管理にICT技術を活用しようする活動やサービスの総称。<br>
    <strong>MBO(Management by Objectives)</strong>・・・個々のグループや担当者に自らの業務目標を設定、申告させ、その進捗や実行を各人が自ら主体的に管理する目標管理制度のこと。<br>
    <strong>HRM(Human Resource Management)</strong>・・・人事資源管理と訳され、従業員を経営上の重要な資源と位置付け、長期的な計画に基づき、戦略的に育成や活用を図る管理手法のこと<br>
    <strong>リテンション</strong>・・・リテンションとはもともと維持や保持という意味があり、次の2つの場面で使用される。一つ目は人事労務である。人事労務においては優秀な社員の離職を防ぐ流出防止策として使用される。もう一つはマーケティングである。マーケティングにおいては、既存顧客を保持を意味する流出防止策として使用される。<br>
    <strong>タレントマネジメント</strong>・・・社員個人の持つ能力に注目、資質や才能を育成・維持して適材適所で活用することで企業の持続的発展を目指す人事管理手法<br>
    <strong>ワークエンゲージメント</strong>・・・仕事に対してやりがいを感じ、満足している状況を測る概念のことである。2002年に確立された概念で、「活力」「熱意」「没頭」の3つが揃った状態と定義されている。<br>
    <strong>ワークライフバランス</strong>・・・「仕事」と「仕事から離れた個人の生活」の両方について、どちらかが犠牲になることなく、それぞれをバランスよく充実させていこうという考え方のこと。<br>
    <strong>ダイバーシティ</strong>・・・翻訳すると「多様性」の意味。企業活動に人種や性別などの違いから生じる様々な価値観を取り込むことによって新たな価値の創造や組織のパフォーマンス向上につなげようとすること<br>
    <strong>インバスケット</strong>・・・決裁書類を入れる即決・未決箱のことで、多量の決定を伴う書類を訓練生に対して次々と処理させていく教育技法<br>
    <strong>ロールプレイング</strong>・・・現実に起こる場面を想定して、複数の人がそれぞれ役を演じ、疑似体験を通じてある事柄が実際に起こったときに適切に対応できるうにする教育技法<br>
    <strong>ケーススタディ</strong>・・・題材となる具体的な事例を詳しく研究・分析することで、そこから一般的な法則性や気付きを得る研究方法や教育技法<br>
    <strrnog>グラスシーリング</strrnog>・・・本来は昇進に値する能力を有しながらも。性別や人種などを理由として組織内での昇進が阻まれている状態を指す言葉<br>
    <strong>ホワイトカラーエグゼンプション</strong>・・・ホワイトカラー労働者に対して労働法で定められた労働時間の規制の適用を緩和し、時間ではなく成果に対する報酬支払とすること。またはその制度を意味する。<br>
    <strong>階層型組織</strong>・・・従来から存在する組織形態の一つで、社長・部長・課長・係長・一般社員といった序列に組織されており、上位職の指揮命令に従って下位職が働く組織のこと<br>
    <strong>事業部制</strong>・・・トップマネジメントの下に製品別や商品別、地域別、市場別などの単位で分化し、分化した組織ごとに意思決定を行う組織形態。<br>
    <strong>職能別組織</strong>・・・製造、営業、経理、開発などのように職能ごとに構成された組織形態。各部門で高い専門性や効率性を追求することができるが、その反面職能部門間の隔たりが生じやすくなる。<br>
    <strong>マトリックス組織</strong>・・・従来の職能別組織に、それら各機能を横断するプロジェクトまたは製品別事業などを交差させた組織形態。他部門とのかかわりが推進されることで部門間の壁が薄くなり、全体的な視点をもって業務を行えるようになるという特徴がある<br>
    <strong>プロジェクト組織</strong>・・・ある特定の目的を達成するために、各部門から専門性の高い人材を集めて構成される有期性のある組織形態<br>
    <strong>カンパニ制</strong>・・・組織の自己完結性を高め、迅速で柔軟な経営を実現するために社内の各部門をそれぞれ独立した会社のように分け事業を運営する組織形態<br>
    <strong>アメーバ組織</strong>・・・組織階層を作らずに社内組織を独立採算の小集団に分け、各アメーバが全体を構成する一部の機能として相互作用的に活動する組織形態<br>
    <strong>ネットワーク組織</strong>・・・複数の企業、部門、個人が共通目的をもって、本来の組織の枠組みを超えて水平的かつ柔軟に協同する組織形態<br>
    <strong>持株会社</strong>・・・他の会社の株式を所有することによって、その会社の事業活動を支配することを目的に設立された会社のことで、ホールディングカンパニーともよばれる。<br>
    <strong>CEO(Chief Executive Officer)</strong>・・・企業戦略の決定、中長期的な経営事項についての責任を負う役職で最高経営責任者のこと<br>
    <strong>CIO(Chief Information Officer)</strong>・・・経営戦略に沿った情報戦略やIT投資計画に関する責任を持つ役職である最高情報責任者のこと<br>
    <strong>第4次産業革命</strong>・・・第4次産業(医療や情報通信、教育サービスなどの製造業)のコンピュータ化、自動化により飛躍的な生産性の向上や効率化が図られることである。IoTであらゆる「もの」がインターネットで繋がり、ビッグデータの活用やAIによる自動化により、製造業での革新が期待される<br>
    <strong>Society5.0</strong>・・・サイバー空間(仮想空間)とフィジカル空間(現実空間)を連携し、IoTですべてのモノや情報、人をつなぐとともにAIやロボット、ビッグデータ等の技術で経済発展と社会課題の解決を両立する社会のことである<br>
    <strong>データ駆動型社会</strong>・・・モノとインターネットが繋がるIoTの進展に伴い生まれた言葉で、IoT化などにより得られた莫大なデータを解析し、現代社会に役立てようとする試みである。<br>
    <strong>デジタルトランスフォーメーション</strong>・・・クラウド、モバイル、AI、IoTなどの新たなデジタル技術を駆使して、私たちの生活を格段に便利にしたり、既存のビジネス構造に破壊的な変革をもたらしたりするなどの、新しい価値を生み出すイノベーションのこと<br>
    <strong>国家戦略特区法</strong>・・・「世界で一番ビジネスをしやすい環境を作ることを目的とし、地域や分野を限定して、規制や制度の大胆な緩和や税制面の優遇を行う規制改革制度を定めた法律である。<br>
    <br>
    <p class="category"><strong>業務分析・データ利活用↓</strong></p>
    <p class="text"><strong>パレート図</strong>・・・値の大きい順に分析対象の項目を並べた縦棒グラフと累積構成比を表す折れ線グラフを組み合わせた複合グラフで、主に複数の分析対象の中から重要である要素を識別するために使用される。<br>
    <strong>ABC分析</strong>・・・重要度や優先度の高い要素・項目を明らかにするために行われる分析手法<br>
    <strong>特性要因図</strong>・・・特性（結果）とそれに影響を及ぼしたと思われる要因（原因）の関係を体系的に表した図<br>
    <strong>管理図</strong>・・・工程の状態や品質を時系列に表した図であり、工程が安定した状態にあるかどうかを判断するために用いる<br>
    <strong>回帰分析</strong>・・・何らかの変化する値があるとき、その値に変化を与えている原因を統計的に求め、それらの関係を表す回帰式を求めること<br>
    <strong>擬似相関</strong>・・・異なる２つの要素に因果関係がないにもかかわず、あるように見えてしまう現象を表す統計学上の言葉である。<br>
    <strong>散布図</strong>・・・縦軸、横軸に２つの項目の量や大きさ等を対応させたXYグラフ上に、いくつかのデータを打点することで、2項目間の分布・相関関係を視覚的に把握する図法<br>
    <strong>箱ひげ図</strong>・・・「箱」と「ひげ」を使って、最大値、最小値、四分位数を示したグラフで、データの分布やばらつきを直感的かつ視覚的に表現できるため、統計分析などで多く使われる図である<br>
    <strong>ヒートマップ</strong>・・・データに色の濃淡をつけて、データの意味、重ね付けの強弱を視覚的に見分けられるようにしたもにで、収集したデータを可視化して問題解決を図る手法として多くの分野で用いられている<br>
    <strong>レーダチャート</strong>・・・中心から正多角形状に配置される各項目の軸に、値や基準値に対する比率をプロットし、各店を線で結んだ形状で表す図法<br>
    <strong>ヒストグラム</strong>・・・度数分布表を棒グラフで表現したもので、収集したデータをいくつかの区間に分け、区間ごとに該当するデータの度数を棒グラフで示した図<br>
    <strong>クロス集計表</strong>・・・２つ以上の質問を掛け合わせて集計したデータを表にしたもの。<br>
    <strong>分割表</strong>・・・2つ以上の変数の間の関係を数的に示す表。変数には、男女、血液型、電話番号、氏名など、分類だけに意味があり、順序や大小には意味がない尺度が使われそれぞれの尺度に該当する数が表にプロットされる<br>
    <strong>CSV(Comma Separated Value)</strong>・・・「氏名,住所,生年月日」のように各項目値を「,(コンマ)」で区切って記述するデータ形式で、各行が各レコードに対応している。ファイル拡張子は「.csv」<br>
    <strong>チャートジャンク</strong>・・・グラフを用いて情報を伝える際、グラフ中の過剰なデザイン、3Dや、シャドー効果、太線のグリッド等のビジュアル要素を適切に用いないことにより、本来伝えたい情報が正しく伝わりにくくなったり、情報が歪められて伝わったりする現象のこと<br>
    <strong>母集団</strong>・・・調査・観測の対象となる集合全体を表す統計学上の概念である。数に限りがあるものを有限母集団といい、限りのないものは無限母集団とされる。<br>
    <strong>標本抽出</strong>・・・統計調査のために母集団から一部の調査対象者を選別すること。標本抽出したうえで調査すれば、標本調査になる<br>
    <strong>A/Bテスト</strong>・・・主にインターネットマーケティングで行われる、施策を判断のための手法のひとつ。<br>
    <strong>BI(Businnes Intelligence)</strong>・・・ERPやCRMなどの業務システムに蓄積された膨大なデータの中から、分析・加工し意思決定に活用する手法。または、それをじつげんするシステムを指す。<br>
    <strong>データウェアハウス</strong>・・・企業内に散在しているデータの有効活用を目的に、過去から現在までの基幹系データベースや外部データベースを整理・統合した効果的な戦略的意思決定を支援するためのデータベースのこと<br>
    <strong>データマイニング</strong>・・・データウェアハウスに蓄積されている大量の生データに、統計学的手法や数学的手法を適用することで今まで知られなかったデータ、情報、知識、知恵を発掘する手法。<br>
    <strong>ビッグデータ</strong>・・・典型的なデータベースソフトウェアが把握し、蓄積し、運用し、分析できる能力を超えたサイズのデータを指す言葉。一般的には数十テラバイトから数ペタバイトのデータがビッグデータとして扱われる<br>
    <strong>テキストマイニング</strong>・・・データマイニングを文字列データに適用した手法のことである。自由な形式で書かれた文章を単語や文節で区切り、統計学やパターン認識、AIなどのデータ解析技法を用いて有用な情報を探し出す分析技術である。<br>
    <strong>データサイエンスのサイクル</strong>・・・データサイエンスを活用した業務を進めるにあたって繰り返す、①問題解決のための課題の設定、②調査方法の計画、③データ収集、④データの分析、⑤分析結果から知見を導出する、というサイクルのことである。<br>
    <strong>データサイエンティスト</strong>・・・ビッグデータなどの大量のデータを、数学的、統計学的、機械学習、データマイニングなどの様々な手法を駆使して分析し、ビジネス上の課題の解決を支援する職種のこと<br>
    <strong>デシジョンツリー</strong>・・・ある事象について取り得る条件や選択肢を樹形図として記述し、記述された条件・選択肢をたどった場合に、どのような結果になるかを分かりやすく表現した図<br>
    <strong>シミュレーション</strong>・・・模型や現実に近づけたモデルなどをコンピュータ上で、模擬的に動かすことで、製品の性能・機能やそのモデルの変化を評価する方法。<br>
    <strong>ブレーンストーミング</strong>・・・様々なアイディアを幅広く集めるために行われる討議方法。通常の討議とは少し変わっており、参加者が遠慮せずに色々な意見を発言できるように批判の禁止、自由奔放、質より量、統合・便乗歓迎という４つのルールに則って行われる。「ブレスト」と略されることもある。<br>
    <strong>親和図法</strong>・・・集めたデータを親和性によってグループ化した図を作成することによって。問題の関連性を整理したり新たな発想を導いたりするための手法。KJ法とも呼ばれる<br>
    
    </p>
    
    

    </p>
    </body>
    </html>
    