<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <%= stylesheet_link_tag "itword", :media => "all" %>
    </head>

    <body>
 <header>
      </header>
            <div class="text-center">
    <p class="html-link"><%= link_to "HTML CSS学習", root_path %></p>
    <p class="java-link"><%= link_to "Java学習①", java_path %></p>
    <p class="java-link"><%= link_to "Java学習②", java2_path %></p>
    <p class="java-link"><%= link_to "Java学習③", java4_path %></p>
    <p class="java-link"><%= link_to "Javaプログラムコード集", java3_path %></p>
    <p class="java-link"><%= link_to "スッキリわかるJava入門", javabiginner_path %></p>
    <p class="java-link"><%= link_to "PHP", php_path %></p>
    </div>
    
    <p class="title2">ストラテジ系</title2>
    <p class="category"><strong>経営組織論↓</strong></p>
    <p class="text"><strong>経営理念</strong>・・・事業遂行における基本的価値観と目的意識と言われており、この企業または働く人々は何を目的として集まっているのかという根本的な事業目的を端的に表した文章</p><br>
    <p class="text"><strong>株主総会</strong>・・・株式会社の実質的な所有者である株主によって構成され、経営の基本的方針や重要事項を決定する株式愛車の最高意思決定機関。役員に関すること、会計・株式に関することなど多岐にわたる事項が株抜き総会での決議を必要とする</p><br>
    <p class="text"><strong>決算</strong>・・・企業などで一定期間の経営成績や財政の状態をまとめるために行う作業のこと。企業ごと定款で定めることができ、3月が決算月であれば４月１日から３月３１日までの１年間が一会計期間である。</p><br>
    <p class="text"><strong>CSR(Corporate Social Responsibility)</strong>・・・企業活動において経済的成長だけでなく、環境や社会などのステークホルダからの要請に対し、責任を果たすことが企業価値の向上につながるという考え方。企業の社会的責任という意味を持つ。CSRに基づく活動は、法令順守、環境活動、地域社会への貢献、ステークホルダとのコミュニケーションなど多岐にわたる</p><br>
    <p class="text"><strong>SRI(Socially Responsible Investment)</strong>・・・社会的責任投資と訳され、企業への投資を行う際に従来から投資基準となっていた経済・財務的な分析に加えて、CSR(企業の社会的責任)への取り組みを考慮する投資手法である</p><br>
    <p class="text"><strong>ディスクロージャ</strong>・・・企業などが投資家や取引先および債権者などの利害関係者に対して、経営や財務の状況をはじめ、各種の情報を広く後悔すること。またはそれを義務付ける情報開示制度のこと</p><br>
    <p class="text"><strong>監査役</strong>・・・日本の株式会社において取締役と会計参与の職務の執行を監査する役割をもつ役職・機関。</p><br>
    <p class="text"><strong>グリーンIT</strong>・・・環境保護の考え方をITに適用した概念。製造や廃棄の工程で有害物質を出さない、省エネルギー化を図る、リサイクル可能な部品を使うなどで環境への負荷を軽減することで環境を保護していくという考え方。</p><br>
    <p class="text"><strong>SDGs(Sustainable Development Goals)</strong>・・・持続可能で多様性と包摂性のある社会の実現のため、2030年の年限とする17の国際目標のこと</p><br>
    <p class="text"><strong>ゼロエミッション</strong>・・・自然界への排出ゼロのシステムを構築する、またはそれを構築するように目指すことを基本的な考え方。</p><br>
    <p class="text"><strong>ステークホルダ</strong>・・・従業員、顧客、株主、得意先、地域などのように、組織の行う活動と利害関係をもつ者。</p><br>
    <p class="text"><strong>コーポレートブランド</strong>・・・ステークホルダが企業に対して抱くイメージや信頼度から得られる、その企業がもつブランド力のこと。</p><br>
    <p class="text"><strong>PDCA(Plan Do Check Act)</strong>・・・計画→実行→評価→見直し・改善の４段階を繰り返すことによって、業務を継続的に改善んする方法。</p><br>
    <p class="text"><strong>OODAループ</strong>・・・OODA(ウーダ)は①Observe(観察)、②Orient(状況判断・方向づけ)、③Decide(意思決定)、④Act(行動)の頭文字を取ったもので、決定と行動に関するフレームワークのひとつ。</p><br>
    <p class="text"><strong>BCP(Business Continuity Plan)</strong>・・・予期せぬ災害が発生した場合に、最低限の事業を継続し、または早期に復旧・再開できるようにする企業が定めた行動計画。事業継続計画ともいう。<br>
    <strong>BCM(Business Continuity Management)</strong>・・・企業が事業を継続するためにBCPを策定し、その運用や見直し、または教育や訓練などを包括的に行う管理プロセスのこと<br>
    <strong>OJT(On the Job Training)</strong>・・・職場内訓練とも呼ばれ、実際の現場で上司や先輩の指導の下で仕事を習得させていく教育方法。<br>
    <strong>Off-JT(Off the Job Training)</strong>・・・実際の現場で行われるOJTに対して、研修や外部セミナーへの参加などの普段の職場を離れた場所で行われる人材教育のこと<br>
    <strong>e-ラーニング</strong>・・・実際に教室に通う、書籍を読むといった従来の学習方法ではなく、PCやモバイル機器を用いて講義を視聴したり問題を解いたりするなど、ICT技術を活用して行う学習や教育の総称。<br>
    </p>
    </body>
    </html>
    