<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <%= stylesheet_link_tag "java_biginner", :media => "all" %>
    </head>

    <body>
 <header>
      </header>
            <div class="text-center">
    <p class="html-link"><%= link_to "HTML CSS学習", root_path %></p>
    <p class="java-link"><%= link_to "Java学習①", java_path %></p>
    <p class="java-link"><%= link_to "Java学習②", java2_path %></p>
    <p class="java-link"><%= link_to "Java学習③", java4_path %></p>
    <p class="java-link"><%= link_to "Javaプログラムコード集", java3_path %></p>
    <p class="java-link"><%= link_to "PHP", php_path %></p>
    </div>
    
    
    
      <p class="title2">サンプルプログラムを動かしてみよう</p>
      <p class="java-code">
          <pre>
public class biginner01 {
	public static void main(String[] args) {
		System.out.println("Hello World");
	}
}
          </pre>
      </p>
    <p class="answer">
        出力結果↓<br>
        Hello World
    </p> <br><br>
    
    <p class="java-code"><strong>↓変数を使ってみる↓</strong>
        <pre>
public class biginner02 {
	public static void main(String[] args) {
		int x;
		x = 6;
		System.out.println(x + x);
	}
}
        </pre>
    <p class="answer">出力結果↓<br>
    12</p> <br><br>
    
    <p class="title2">ようこそJavaの世界へ</p>
    <p class="java-code"><strong>↓変数の再代入↓</strong>
    <pre>
public class biginner03 {
	public static void main(String[] args) {
		int age = 20;
		System.out.println("私の年齢は" + age);
		age = 31;
		System.out.println("…いや、本当の年齢は" + age);
	}
}
    </pre></p>
    <p class="answer">出力結果↓<br>
私の年齢は20<br>
…いや、本当の年齢は31</p>

<p class="java-code"><strong>↓定数の宣言↓ <br>
finalを使うことで書き換えを防げる</strong>
<pre>
public class biginner04 {
	public static void main(String[] args) {
		final double PI = 3.14;
		int pie = 5;
		System.out.println(pie * pie * PI);
		PI = 10;
	}
}
</pre></p>

<p class="answer">↓出力結果↓<br>
Exception in thread "main" java.lang.Error: Unresolved compilation problem: 
	final のローカル変数 PI には代入できません。
</p>

<p class="title2">式と演算子</p>
<p class="java-code"><strong>インクリメント演算子↓</strong><br>
<pre>
public class biginner05 {
	public static void main(String[] args) {
		int a;
		a = 100;
		a++;
		System.out.println(a);
	}
}
</pre></p>
<p class="answer">↓出力結果↓<br>
101
</p>
<br><br>

<p class="java-code"><strong>大きいほうの数値を代入する命令</strong><br>
<pre>
public class biginner06 {
	public static void main(String[] args) {
		int a = 5;
		int b = 3;
		int m = Math.max(a, b);
		System.out.println("比較実験:" + a + "と" + b + "とで大きいほうは…" + m);
	}
}
</pre>
</p>
<p class="answer">出力結果↓<br>
比較実験:5と3とで大きいほうは…5
</p><br><br>

<p class="java-code"><strong>文字列を数値に変換する命令</strong><br>
<br><p>文字列の"10"を数値としての10に変換して計算を行いたい場合はこの命令を使う</p><br>
<pre>
public class biginner07 {
	public static void main(String[] args) {
		String age = "31";
		int n = Integer.parseInt(age);
		System.out.println("あなたは来年、" + (n+1) + "歳になりますね。");
	}
}
</pre>
</p>
<p class="answer">出力結果↓<br>
あなたは来年、32歳になりますね。
</p><br><br>

<p class="java-code"><strong>ランダムな数を生成する命令</strong><br>
<pre>
    public class biginner08 {
	public static void main(String[] args) {
		int r = new java.util.Random().nextInt(90);
		System.out.println("あなたはたぶん、" + r + "歳ですね？");
	}
}
</pre>
</p>
<p class="answer">出力結果↓<br>
あなたはたぶん、0(ここがランダムな数値になる)歳ですね？
</p><br><br>

<p class="java-code"><strong>キーボードから入力を受け付ける命令</strong><br>
<pre>
public class biginner09 {
	public static void main(String[] args) {
		System.out.println("あなたの名前を入力してください。");
		String name = new java.util.Scanner(System.in).nextLine();
		System.out.println("あなたの年齢を入力してください。");
		int age = new java.util.Scanner(System.in).nextInt();
		System.out.println
			("ようこそ、" + age + "歳の" + name + "さん");
	}
}

</pre>
</p>
<p class="answer">出力結果↓<br>
あなたの名前を入力してください。<br>
田中(自分で入力するところ)<br>
あなたの年齢を入力してください。<br>
29(自分で入力するところ)<br>
ようこそ、29歳の田中さん
</p><br><br>

<p class="java-code"><strong>占いの館プログラミングで作成</strong><br>
<pre>
    public class fortunetelling {
	public static void main(String[] args) {
		System.out.println("ようこそ占いの館へ");
		System.out.println("あなたの名前を入力してください。");
		String name = new java.util.Scanner(System.in).nextLine();
		System.out.println("あなたの年齢を入力してください。");
		String ageString = new java.util.Scanner(System.in).nextLine();
		int age = Integer.parseInt(ageString);
		int fortune = new java.util.Random().nextInt(3);
		fortune++;
		System.out.println("占い結果が出ました！");
		System.out.println
		(age + "歳の" + name + "さん、あなたの運気番号は" + fortune + "です");
		System.out.println("1:大吉 2:中吉 3:吉 4:凶");
	}
}
</pre>
</p>
<p class="answer">出力結果↓<br>
<pre>
ようこそ占いの館へ
あなたの名前を入力してください。
田中
あなたの年齢を入力してください。
29
占い結果が出ました！
29歳の田中さん、あなたの運気番号は2です
1:大吉 2:中吉 3:吉 4:凶
</pre>
</p>
<p class="title2">条件分岐と繰り返し</p>
<p class="java-code"><strong>分岐</strong><br>
<pre>
public class biginner10 {
	public static void main(String[] args) {
		boolean tenki = true;
		if (tenki == true) {
			System.out.println("洗濯をします");
			System.out.println("散歩にいきます");
		} else {
			System.out.println("DVDを見ます");
		}
	}
}

</pre>
</p>
<p class="answer">出力結果↓<br>
trueなら・・・↓<br>
洗濯をします<br>
散歩にいきます
<br><br>
falseなら・・・↓<br>
DVDを見ます
</p><br><br>

<p class="java-code"><strong>繰り返し処理</strong><br>
<pre>
public class biginner11 {
	public static void main(String[] args) {
		boolean doorClose = true;
		while (doorClose == true) {
			System.out.println("ノックする");
			System.out.println("1分待つ");
		}
	}
}
</pre>
</p>
<p class="answer">出力結果↓<br>
3行目がtrueなら・・・↓<br>
1分待つ<br>
ノックする<br>
1分待つ<br>
ノックする<br>
1分待つ<br>
ノックする・・・<strong>無限ループになる</strong>
<br><br>
3行目がfalseなら・・・↓<br>
何も表示されない
</p><br><br>

<p class="java-code"><strong>if-else構文</strong><br>
<pre>
public class biginner12 {
	public static void main(String[] args) {
		System.out.println("あなたの運勢を占います。");
		int fortune = new java.util.Random().nextInt(4) + 1;
		if (fortune == 1) {
			System.out.println("大吉");
		} else if (fortune == 2) {
			System.out.println("中吉");
		} else if (fortune == 3) {
			System.out.println("吉");
		} else {
			System.out.println("凶");
		}
	}
}
</pre>
</p>
<p class="answer">出力結果↓<br>
あなたの運勢を占います。<br>
大吉(ここの部分が乱数によって表示が変わる)
</p>
<br><br>
<p class="java-code"><strong>switch構文</strong><br>
<pre>
public class biginner13 {
	public static void main(String[] args) {
		System.out.println("あなたの運勢を占います");
		int fortune = 1;
		switch(fortune) {
		case 1:
			System.out.println("大吉");
			break;
		case 2:
			System.out.println("中吉");
			break;
		case 3:
			System.out.println("吉");
			break;
		case 4:
			System.out.println("凶");
		}
	}

}
</pre>
</p>
<p class="answer">出力結果↓<br>
あなたの運勢を占います。<br>
大吉(ここの部分が乱数によって表示が変わる)
</p><br><br>

<p class="java-code"><strong>基本的なfor文</strong><br>
<pre>
public class biginner14 {
	public static void main(String[] args) {
		for (int i = 0; i < 10; i++) {
			System.out.println("こんにちは");
		}
	}
}

</pre>
</p>
<p class="answer">出力結果↓<br>
<pre>
こんにちは
こんにちは
こんにちは
こんにちは
こんにちは
こんにちは
こんにちは
こんにちは
こんにちは
こんにちは
</pre>
</p>
<p class="text">
	for (①初期化処理; ②繰り返し条件; ③繰り返し時処理)
</p>
<br><br>
<p class="java-code"><strong>ループ変数</strong><br>
<pre>
public class biginner15 {
	public static void main(String[] args) {
		for (int i = 0; i < 3; i++) {
			System.out.println("現在" + (i + 1) + "週目→");
		}
	}
}

</pre>
</p>
<p class="answer">出力結果↓<br>
<pre>
現在1週目→
現在2週目→
現在3週目→

</pre>
</p><br><br>

<p class="java-code"><strong>制御構造のネスト(九九の計算)</strong><br>
<pre>
	public class biginner16 {
	public static void main(String[] args) {
		for (int i = 1; i < 10; i++) {
			for (int j =1; j < 10; j++) {
				System.out.println(i * j);
				System.out.println(" ");
			}
			System.out.println("");
		}
	}
}
</pre>
</p>
<p class="answer">出力結果↓<br>
<pre>
1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81
</pre>
</p>
<br><br>

<p class="java-code"><strong>数あてゲーム</strong><br>
<pre>
public class numbergame {
	public static void main(String[] args) {
		System.out.println("【数当てゲーム】");
		int ans = new java.util.Random().nextInt(10);
		for (int i = 0; i < 5; i++) {
			System.out.println("0～9の数字を入力してください");
			int num = new java.util.Scanner(System.in).nextInt();
			if (ans == num) {
				System.out.println("アタリ！");
				break;
			} else if (ans > num) {
				System.out.println("答えよりも小さい！");
			} else {
				System.out.println("違います");
			}
		}
		System.out.println("ゲームを終了します");
	}
}
</pre>
</p>

<p class="answer">出力結果↓<br>
<pre>
	【数当てゲーム】
0～9の数字を入力してください
1 (自分で入力する)
答えよりも小さい！
4
アタリ！
ゲームを終了します
</pre>
</p>

<p class="title2">配列</p>
<p class="java-code"><strong>配列の作成手順</strong><br>
	<pre>
public class biginner17 {
	public static void main(String[] args) {
		int[] scores = new int[5]; //配列変数の宣言と要素の作成、代入
	}
}

</pre>
</p>
<br><br>
<p class="java-code"><strong>配列の長さを調べる</strong><br>
<pre>
public class biginner17 {
	public static void main(String[] args) {
		int[] scores = new int[5];
		int num = scores.length;
		System.out.println("要素の数:" + num);
	}
}
</pre>
</p>

<p class="answer">出力結果↓<br>
要素の数：5
</p>
<br><br>

<p class="java-code"><strong>配列の要素に値を代入</strong><br>
<pre>
public class biginner17 {
	public static void main(String[] args) {
		int[] scores = new int[5];
		scores[1] = 30;　//2つ目の要素に代入している
		System.out.println(scores[1]);
	}
}
</pre>
</p>
<p class="answer">出力結果↓<br>
30
</p>
<br><br>

<p class="java-code"><strong>配列を用いた点数管理プログラム</strong><br>
<pre>
public class tensuukanrisystem {
	public static void main(String[] args) {
		int[] scores = {20, 30, 40, 50, 80};
		int sum = scores[0] + scores[1] + scores[2] + scores[3] + scores[4];
		int avg = sum / scores.length;
		System.out.println("合計点:" + sum);
		System.out.println("平均点:" + avg);
	}
}
</pre>
</p>
<p class="answer">出力結果↓<br>
合計点:220<br>
平均点:44
</p><br><br>

<p class="java-code"><strong>for文を使って配列を扱う</strong><br>
<pre>
public class biginner18 {
	public static void main(String[] args) {
		int[] scores = {20, 30, 40, 50, 80};
		for (int i = 0; i < scores.length; i++) {
			System.out.println(scores[i]);
		}
	}
}
</pre>
</p>
<p class="answer">出力結果↓<br>
<pre>
20
30
40
50
80
</pre>
</p>
<br><br>

<p class="java-code"><strong>ループによる集計</strong><br>
<pre>
public class biginner18 {
	public static void main(String[] args) {
		int[] scores = {20, 30, 40, 50, 80};
		int sum = 0;
		for (int i = 0; i < scores.length; i++) {
			sum += scores[i];
		}
		int avg = sum / scores.length;
		System.out.println("合計点：" + sum);
		System.out.println("平均点：" + avg);
	}
}
</pre>
</p>
<p class="answer">出力結果↓<br>
合計点：220<br>
平均点：44
</p><br><br>

<p class="java-code"><strong>50点以上の科目の数を調べる</strong><br>
<pre>
public class biginner19 {
	public static void main(String[] args) {
		int[] scores = {20, 30, 40, 50, 80};
		int count = 0;
		for (int i = 0; i < scores.length; i++) {
			if (scores[i] >=50) {
				count++;
			}
		}
		System.out.println("50点以上の科目の数は:" + count);
	}
}
</pre>
</p>
<p class="answer">出力結果↓<br>
50点以上の科目の数は:2
</p><br><br>

<p class="java-code"><strong>拡張for文</strong><br>
<pre>
public class biginner20 {
	public static void main(String[] args) {
		int[] scores = {20, 30, 40, 50, 80};
		for (int value : scores) {
			System.out.println(value);
		}
	}
}
</pre>
</p>

<p class="answer">出力結果↓<br>
<pre>
20
30
40
50
80
</pre>
</p>

<p class="java-code"><strong>配列を理解する</strong><br>
<pre>
	public class biginner21 {
	public static void main(String[] args) {
		int[] arrayA = {1, 2, 3};
		int[] arrayB;
		arrayB = arrayA;
		arrayB[0] = 100;
		System.out.println(arrayA[0]);
	}
}
</pre>
</p>
<p class="answer">出力結果↓<br>
100<br>
(arrayAとarrayBは同じ配列を参照している)

</p>

      </body>