<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <%= stylesheet_link_tag "java_biginner", :media => "all" %>
    </head>

    <body>
 <header>
      </header>
            <div class="text-center">
    <p class="html-link"><%= link_to "HTML CSS学習", root_path %></p>
    <p class="java-link"><%= link_to "Java学習①", java_path %></p>
    <p class="java-link"><%= link_to "Java学習②", java2_path %></p>
    <p class="java-link"><%= link_to "Java学習③", java4_path %></p>
    <p class="java-link"><%= link_to "Javaプログラムコード集", java3_path %></p>
    <p class="java-link"><%= link_to "PHP", php_path %></p>
    </div>
    
    
    
      <p class="title2">サンプルプログラムを動かしてみよう</p>
      <p class="java-code">
          <pre>
public class biginner01 {
	public static void main(String[] args) {
		System.out.println("Hello World");
	}
}
          </pre>
      </p>
    <p class="answer">
        出力結果↓<br>
        Hello World
    </p> <br><br>
    
    <p class="java-code"><strong>↓変数を使ってみる↓</strong>
        <pre>
public class biginner02 {
	public static void main(String[] args) {
		int x;
		x = 6;
		System.out.println(x + x);
	}
}
        </pre>
    <p class="answer">出力結果↓<br>
    12</p> <br><br>
    
    <p class="title2">ようこそJavaの世界へ</p>
    <p class="java-code"><strong>↓変数の再代入↓</strong>
    <pre>
public class biginner03 {
	public static void main(String[] args) {
		int age = 20;
		System.out.println("私の年齢は" + age);
		age = 31;
		System.out.println("…いや、本当の年齢は" + age);
	}
}
    </pre></p>
    <p class="answer">出力結果↓<br>
私の年齢は20<br>
…いや、本当の年齢は31</p>

<p class="java-code"><strong>↓定数の宣言↓ <br>
finalを使うことで書き換えを防げる</strong>
<pre>
public class biginner04 {
	public static void main(String[] args) {
		final double PI = 3.14;
		int pie = 5;
		System.out.println(pie * pie * PI);
		PI = 10;
	}
}
</pre></p>

<p class="answer">↓出力結果↓<br>
Exception in thread "main" java.lang.Error: Unresolved compilation problem: 
	final のローカル変数 PI には代入できません。
</p>

<p class="title2">式と演算子</p>
<p class="java-code"><strong>インクリメント演算子↓</strong><br>
<pre>
public class biginner05 {
	public static void main(String[] args) {
		int a;
		a = 100;
		a++;
		System.out.println(a);
	}
}
</pre></p>
<p class="answer">↓出力結果↓<br>
101
</p>
<br><br>

<p class="java-code"><strong>大きいほうの数値を代入する命令</strong><br>
<pre>
public class biginner06 {
	public static void main(String[] args) {
		int a = 5;
		int b = 3;
		int m = Math.max(a, b);
		System.out.println("比較実験:" + a + "と" + b + "とで大きいほうは…" + m);
	}
}
</pre>
</p>
<p class="answer">出力結果↓<br>
比較実験:5と3とで大きいほうは…5
</p><br><br>

<p class="java-code"><strong>文字列を数値に変換する命令</strong><br>
<br><p>文字列の"10"を数値としての10に変換して計算を行いたい場合はこの命令を使う</p><br>
<pre>
public class biginner07 {
	public static void main(String[] args) {
		String age = "31";
		int n = Integer.parseInt(age);
		System.out.println("あなたは来年、" + (n+1) + "歳になりますね。");
	}
}
</pre>
</p>
<p class="answer">出力結果↓<br>
あなたは来年、32歳になりますね。
</p><br><br>

<p class="java-code"><strong>ランダムな数を生成する命令</strong><br>
<pre>
    public class biginner08 {
	public static void main(String[] args) {
		int r = new java.util.Random().nextInt(90);
		System.out.println("あなたはたぶん、" + r + "歳ですね？");
	}
}
</pre>
</p>
<p class="answer">出力結果↓<br>
あなたはたぶん、0(ここがランダムな数値になる)歳ですね？
</p><br><br>

<p class="java-code"><strong>キーボードから入力を受け付ける命令</strong><br>
<pre>
public class biginner09 {
	public static void main(String[] args) {
		System.out.println("あなたの名前を入力してください。");
		String name = new java.util.Scanner(System.in).nextLine();
		System.out.println("あなたの年齢を入力してください。");
		int age = new java.util.Scanner(System.in).nextInt();
		System.out.println
			("ようこそ、" + age + "歳の" + name + "さん");
	}
}

</pre>
</p>
<p class="answer">出力結果↓<br>
あなたの名前を入力してください。<br>
田中(自分で入力するところ)<br>
あなたの年齢を入力してください。<br>
29(自分で入力するところ)<br>
ようこそ、29歳の田中さん
</p><br><br>

<p class="java-code"><strong>占いの館プログラミングで作成</strong><br>
<pre>
    public class fortunetelling {
	public static void main(String[] args) {
		System.out.println("ようこそ占いの館へ");
		System.out.println("あなたの名前を入力してください。");
		String name = new java.util.Scanner(System.in).nextLine();
		System.out.println("あなたの年齢を入力してください。");
		String ageString = new java.util.Scanner(System.in).nextLine();
		int age = Integer.parseInt(ageString);
		int fortune = new java.util.Random().nextInt(3);
		fortune++;
		System.out.println("占い結果が出ました！");
		System.out.println
		(age + "歳の" + name + "さん、あなたの運気番号は" + fortune + "です");
		System.out.println("1:大吉 2:中吉 3:吉 4:凶");
	}
}
</pre>
</p>
<p class="answer">出力結果↓<br>
<pre>
ようこそ占いの館へ
あなたの名前を入力してください。
田中
あなたの年齢を入力してください。
29
占い結果が出ました！
29歳の田中さん、あなたの運気番号は2です
1:大吉 2:中吉 3:吉 4:凶
</pre>
</p>
<p class="title2">条件分岐と繰り返し</p>
<p class="java-code"><strong>分岐</strong><br>
<pre>
public class biginner10 {
	public static void main(String[] args) {
		boolean tenki = true;
		if (tenki == true) {
			System.out.println("洗濯をします");
			System.out.println("散歩にいきます");
		} else {
			System.out.println("DVDを見ます");
		}
	}
}

</pre>
</p>
<p class="answer">出力結果↓<br>
trueなら・・・↓<br>
洗濯をします<br>
散歩にいきます
<br><br>
falseなら・・・↓<br>
DVDを見ます
</p>

<p class="java-code"><strong>繰り返し処理</strong><br>
<pre>
public class biginner11 {
	public static void main(String[] args) {
		boolean doorClose = true;
		while (doorClose == true) {
			System.out.println("ノックする");
			System.out.println("1分待つ");
		}
	}
}
</pre>
</p>
<p class="answer">出力結果↓<br>
3行目がtrueなら・・・↓<br>
1分待つ<br>
ノックする<br>
1分待つ<br>
ノックする<br>
1分待つ<br>
ノックする・・・<strong>無限ループになる</strong>
<br><br>
3行目がfalseなら・・・↓<br>
何も表示されない
</p>
      </body>