<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <%= stylesheet_link_tag "java_biginner", :media => "all" %>
    </head>

    <body>
 <header>
      </header>
            <div class="text-center">
    <p class="html-link"><%= link_to "HTML CSS学習", root_path %></p>
    <p class="java-link"><%= link_to "Java学習①", java_path %></p>
    <p class="java-link"><%= link_to "Java学習②", java2_path %></p>
    <p class="java-link"><%= link_to "Java学習③", java4_path %></p>
    <p class="java-link"><%= link_to "Javaプログラムコード集", java3_path %></p>
    <p class="java-link"><%= link_to "PHP", php_path %></p>
    </div>
    
    
    
      <p class="title2">サンプルプログラムを動かしてみよう</p>
      <p class="java-code">
          <pre>
public class biginner01 {
	public static void main(String[] args) {
		System.out.println("Hello World");
	}
}
          </pre>
      </p>
    <p class="answer">
        出力結果↓<br>
        Hello World
    </p> <br><br>
    
    <p class="java-code"><strong>↓変数を使ってみる↓</strong>
        <pre>
public class biginner02 {
	public static void main(String[] args) {
		int x;
		x = 6;
		System.out.println(x + x);
	}
}
        </pre>
    <p class="answer">出力結果↓<br>
    12</p> <br><br>
    
    <p class="title2">ようこそJavaの世界へ</p>
    <p class="java-code"><strong>↓変数の再代入↓</strong>
    <pre>
public class biginner03 {
	public static void main(String[] args) {
		int age = 20;
		System.out.println("私の年齢は" + age);
		age = 31;
		System.out.println("…いや、本当の年齢は" + age);
	}
}
    </pre></p>
    <p class="answer">出力結果↓<br>
私の年齢は20<br>
…いや、本当の年齢は31</p>

<p class="java-code"><strong>↓定数の宣言↓ <br>
finalを使うことで書き換えを防げる</strong>
<pre>
public class biginner04 {
	public static void main(String[] args) {
		final double PI = 3.14;
		int pie = 5;
		System.out.println(pie * pie * PI);
		PI = 10;
	}
}
</pre></p>

<p class="answer">↓出力結果↓<br>
Exception in thread "main" java.lang.Error: Unresolved compilation problem: 
	final のローカル変数 PI には代入できません。
</p>
      
      </body>