<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <%= stylesheet_link_tag "java3", :media => "all" %>
    </head>
</html>
<body>
    <p class="html-link"><%= link_to "HTML CSS学習", root_path %></p>
    <p class="java-link"><%= link_to "Java学習①", java_path %></p>
    <p class="java-link"><%= link_to "Java学習②", java2_path %></p>
    <p class="java-link"><%= link_to "PHP", php_path %></p>
    
    <p class="title">Javaプログラムコード集</p>
    <p class="question">問題①　「こんにちは！」という文字列を出力してください。</p>
    <p class="java-code">
        <pre>
public class Test {
    public static void main(String[] args) {
		System.out.println("こんにちは！");
    }
}
        </pre>
        
    </p>
<p class="answer">↓出力結果↓<br>
こんにちは！
    </p>
    
<p class="question">問題②　Hello WEBCAMP!　改行　Hello Java!を出力してください。</p>
<p class="java-code">
    <pre>
public class Test02 {
	public static void main(String[] args) {
		System.out.println("Hello WEBCAMP!");
		System.out.println("Hello Java!");
	}
}
    </pre>
</p>
<p class="answer">↓出力結果↓<br>
Hello WEBCAMP!<br>
Hello Java!<br>
</p>

<p class="question">問題③<br>
・自分の名前を「String」型の変数に代入して出力<br>
・好きな言葉を同じ変数に再代入して出力<br>
・ラッキーナンバーとして「int」型で宣言した定数を出力</p>
<p class="java-code">
    <pre>
public class Test03 {
	public static void main(String[] args) {
		String name;
		int number;
		name = "田中択哉";
		System.out.println(name);
		name = "ひたむきで真面目なやつ";
		System.out.println(name);
		number = 2;
		System.out.println(number);
	}
}
</pre>
</p>
<p class="answer">↓出力結果↓<br>
田中択哉<br>
ひたむきで真面目なやつ<br>
2<br>
</p>

<p class="question">問題④<br>
・プリミティブ型の「long」「double」「boolean」の変数に値を代入して出力<br>
・ラッパークラスの「Float」「Integer」「Character」の変数に値を代入して出力<br>
・要素数が5の「int」配列に値を代入して、インデックス番号が3の値を出力</p>
<p class="java-code">
    <pre>
        public class Test04 {
	        public static void main(String[] args) {
		        long number = 100;
		        double syousuu = 0.5;
		        boolean boo = true;
		        System.out.println(number);
		        System.out.println(syousuu);
		        System.out.println(boo);
		        Float hudou = 0.5f;
		        Integer seisuu = 64;
		        Character char1 = 'あ';
		        System.out.println(hudou);
		        System.out.println(char1);
		        System.out.println(seisuu);
		        int[] array = { 1, 2, 3, 4, 5 };
		        System.out.println(array[2]);
	}

}
    </pre>
</p>

<p class="answer">↓出力結果↓<br>
100<br>
0.5<br>
true<br>
0.5<br>
あ<br>
64<br>
3<br>
</p>

<p class="question">問題⑤<br>
・「int」の変数「val」を「2 足す 5」を演算した結果で初期化して、値を出力<br>
・インクリメントした変数「val」の値を出力<br>
・「5」を掛けた変数「val」の値を出力<br>
・「boolean」の変数「bool」に「valは50と等しい」を演算した結果を代入して、値を出力<br>
・変数「bool」に「valは50より小さい AND valを10で割った余りが0」を演算した結果を代入して、値を出力</p>
<p class="java-code">
	<pre>
		public class Test05 {
			public static void main(String[] args) {
				int val;
				val = 2 + 5;
				System.out.println(val);
				val++;
				System.out.println(val);
				val *= 5;
				System.out.println(val);
				boolean bool;
				bool = val == 50;
				System.out.println(bool);
				bool = val < 50 && val % 10 == 0;
				System.out.println(bool);
	}
}
	</pre>
</p>
<p class="answer">↓出力結果↓<br>
7<br>
8<br>
40<br>
false<br>
true<br>
</p>

<p class="question">問題⑥<br>
距離を表すint型の変数を定義し、任意の値で初期化する<br>
距離が5km以下の場合は "とても近いです" を出力する<br>
距離が5kmより長く10km以下の場合は "近いです" を出力する<br>
距離が10kmより長く15km以下の場合は "遠いです" を出力する<br>
距離が15kmより長い場合は "とても遠いです" を出力する<br>
</p>
<p class="java-code">
	<pre>
public class Test06 {
	public static void main(String[] args) {
		int kyori;
		kyori = 20;
		if (kyori <= 5) {
			System.out.println("とても近いです");
		} else if (kyori <= 10) {
			System.out.println("近いです");
		} else if (kyori <= 15) {
			System.out.println("遠いです");
		} else {
			System.out.println("とても遠いです");
		}
	}
}
</pre>
</p>
<p class="answer">↓出力結果↓<br>
とても遠いです
</p>

<p class="question">問題⑦<br>
　1.「while」文<br>
　・1以上5未満の数の2乗を出力</p>
　<p class="java-code">
　	<pre>
public class Test07 {
	public static void main(String[] args) {
		int number;
		number = 1;
		while (number < 5) {
			System.out.println(number * number);
			number++;
		}
	}
}
　	</pre>
　</p>
<p class="answer">↓出力結果↓<br>
1<br>
4<br>
9<br>
16
</p>

<p class="question">問題⑧<br>
2. 通常「for」文<br>
　・要素数が4の「int」配列を初期化<br>
　・配列のサイズ分ループして、要素を出力<br>
　　※ 配列のサイズは「変数名.length」で取得が可能</p>
　　<p class="java-code">
　　	<pre>
　public class Test08 {
	public static void main(String[] args) {
		int[] array = { 1, 2, 3, 4};
		for (int i = 0; i < array.length; i++) {
			System.out.println(array[i]);
		}
	}
}
　　	</pre>
　　</p>
　　<p class="answer">↓出力結果↓<br>
1<br>
2<br>
3<br>
4<br>
　　</p>
　　
　　<p class="question">問題⑨<br>
　　　3. 拡張「for」文<br>
　・「2.」の配列をループ<br>
　・要素の値が偶数の場合は、continue文で処理をスキップ、奇数の場合は出力</p>
　<p class="java-code">
　	<pre>
　		public class Test09 {
	public static void main(String[] args) {
		int array[] = {1, 2, 3, 4};
		for (int val : array) {
			if (val % 2 == 0) {
				continue;
			}
			System.out.println(val);
		}
	}
}
　	</pre>
　</p>
　<p class="answer">↓出力結果↓<br>
　1<br>
　3<br>
　</p>
    
</body>