<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <%= stylesheet_link_tag "php", :media => "all" %>
    </head>

    <body>
 <header>
      </header>
      
    <p class="html-link"><%= link_to "HTML CSS学習", root_path %></p>
    <p class="java-link"><%= link_to "Java学習①", java_path %></p>
    <p class="java-link"><%= link_to "Java学習②", java2_path %></p>
    <p class="java-link"><%= link_to "Javaプログラムコード集", java3_path %></p>
    
    <p class="title">PHP学習</p>
    <p class="title2">PHPとは？</p>
    <p class="php_text">HTMLでは決められたテキストしか表示することができない。PHPを使うと、見る人や状況に応じて、表示するテキストを変えることができる。<br>
    PHPの文法・・・文末にセミコロン「;」を使う。これを忘れるとエラーがでてくる。「//」をいれるとコメントになり、動作に影響しないもの。<br>
    文字列の出力・・・echoが出力するための命令。出力する場合はシングルクォーテーション[']かダブルクォーテーション["]で囲む<br>
    <code><pre>例） &lt;?php echo &#039;Hello World!&#039;; ?&gt;</pre></code>
    </p>
    
    
    </body>