<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <%= stylesheet_link_tag "top", :media => "all" %>
    </head>

    <body>
 <header>
      </header>


<div class="text-center">
    <p class="java-link"><%= link_to "Java学習①", java_path %></p>
    <p class="java-link"><%= link_to "Java学習②", java2_path %></p>
    <p class="java-link"><%= link_to "Java学習③", java4_path %></p>
    <p class="java-link"><%= link_to "Javaプログラムコード集", java3_path %></p>
    <p class="java-link"><%= link_to "PHP", php_path %></p>
    

      <h1 class="heading">
        HTMLの練習
      </h1><br><br>
<p class="text">↓ソースコード↓
<pre class="inside">
    <code>
&lt;h1 class=&quot;heading&quot;&gt;
HTMLの練習
&lt;/h1&gt; 
</code>
</pre>
</p>

<p class="red">練習用ABC　文字を赤く</p>
<p class="text">↓ソースコード↓
<pre class="inside"><code>
&lt;p class=&quot;red&quot;&gt;練習用ABC　文字を赤く&lt;/p&gt;
</code>
</pre>
</p>


<p class="abc">練習用ABC　太字</p>
<p class="text">↓ソースコード↓
<pre class="inside"><code>
&lt;p class=&quot;abc&quot;&gt;練習用ABC　太字&lt;/p&gt;
</code>
</pre>
</p>
</div>


<table border="1">
    <tr>
        <th>プラン名</th>
        <th>料金</th>
    </tr>
    <tr>
        <td>わくわくプラン</td>
        <td>月額2,900円</td>
    </tr>
    <tr>
        <td>にこにこプラン</td>
        <td>月額1,900円</td>
    </tr>
</table>

<p class="text">↓ソースコード↓
<pre class="inside"><code>
&lt;table border=&quot;1&quot;&gt;
    &lt;tr&gt;
        &lt;th&gt;プラン名&lt;/th&gt;
        &lt;th&gt;料金&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;わくわくプラン&lt;/td&gt;
        &lt;td&gt;月額2,900円&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;にこにこプラン&lt;/td&gt;
        &lt;td&gt;月額1,900円&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;
</code>
</pre>
</p>
<ul>
    <li>卵(3個)</li>
    <li>しょうゆ(大さじ1)</li>
    <li>みりん(大さじ1)</li>
    <li>塩(少々)</li>
</ul>

<p class="text">↓ソースコード↓
<pre class="inside"><code>
&lt;ul&gt;
    &lt;li&gt;卵(3個)&lt;/li&gt;
    &lt;li&gt;しょうゆ(大さじ1)&lt;/li&gt;
    &lt;li&gt;みりん(大さじ1)&lt;/li&gt;
    &lt;li&gt;塩(少々)&lt;/li&gt;
&lt;/ul&gt;
</code>
</pre>
</p>


<ol>
    <li>卵を割りほぐし、調味料を加える</li>
    <li>卵焼き器に卵液を1/4量を入れて広げる</li>
    <li>半熟状になったら箸で手前に巻き、奥に移動させる</li>
    <li>これを繰り返し、最後まで焼けたら完成</li>
</ol>

<p class="text">↓ソースコード↓
<pre class="inside"><code>
&lt;ol&gt;
    &lt;li&gt;卵を割りほぐし、調味料を加える&lt;/li&gt;
    &lt;li&gt;卵焼き器に卵液を1/4量を入れて広げる&lt;/li&gt;
    &lt;li&gt;半熟状になったら箸で手前に巻き、奥に移動させる&lt;/li&gt;
    &lt;li&gt;これを繰り返し、最後まで焼けたら完成&lt;/li&gt;
&lt;/ol&gt;
</code>
</pre>
</p>

<table border="1">
    <tr>
        <th>セル１</th>
        <th>セル２</th>
    </tr>
    <tr>
        <td>セル３</td>
        <td>セル４</td>
    </tr>
    <tr>
        <td>セル５</td>
        <td>セル６</td>
    </tr>
</table>

<p class="text">↓ソースコード↓
<pre class="inside"><code>
    &lt;table border=&quot;1&quot;&gt;
    &lt;tr&gt;
        &lt;th&gt;セル１&lt;/th&gt;
        &lt;th&gt;セル２&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;セル３&lt;/td&gt;
        &lt;td&gt;セル４&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;セル５&lt;/td&gt;
        &lt;td&gt;セル６&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;
</code>
</pre>
</p>


名前: <input type="text">
<br>

<p class="text">↓ソースコード↓
<pre class="inside"><code>
名前: &lt;input type=&quot;text&quot;&gt;
</code>
</pre>
</p>


名前: <input type="text" placeholder="名字 名前">
<br>
<p class="text">↓ソースコード↓
<pre class="inside"><code>
    名前: &lt;input type=&quot;text&quot; placeholder=&quot;名字 名前&quot;&gt;
</code>
</pre>
</p>


性別:
<input type="radio" name="gender" value="男"> 男
<input type="radio" name="gender" value="女" checked> 女
<input type="radio" name="gender" value="その他"> その他

<p class="text">↓ソースコード↓
<pre class="inside"><code>
性別:
&lt;input type=&quot;radio&quot; name=&quot;gender&quot; value=&quot;男&quot;&gt; 男
&lt;input type=&quot;radio&quot; name=&quot;gender&quot; value=&quot;女&quot; checked&gt; 女
&lt;input type=&quot;radio&quot; name=&quot;gender&quot; value=&quot;その他&quot;&gt; その他
</code>
</pre>
</p>


好きな色:
<input type="checkbox" name="color" value="赤" checked> 赤
<input type="checkbox" name="color" value="青"> 青
<input type="checkbox" name="color" value="黄"> 黄
<input type="checkbox" name="color" value="緑"> 緑

<p class="text">↓ソースコード↓
<pre class="inside"><code>
好きな色:
&lt;input type=&quot;checkbox&quot; name=&quot;color&quot; value=&quot;赤&quot; checked&gt; 赤
&lt;input type=&quot;checkbox&quot; name=&quot;color&quot; value=&quot;青&quot;&gt; 青
&lt;input type=&quot;checkbox&quot; name=&quot;color&quot; value=&quot;黄&quot;&gt; 黄
&lt;input type=&quot;checkbox&quot; name=&quot;color&quot; value=&quot;緑&quot;&gt; 緑
</code>
</pre>
</p>

<input type="submit" value="送信する">

<p class="text">↓ソースコード↓
<pre class="inside"><code>
&lt;input type=&quot;submit&quot; value=&quot;送信する&quot;&gt;
</code>
</pre>
</p>

血液型
<select name="bloodtype">
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="O">O</option>
    <option value="AB">AB</option>
    <option value="不明">不明</option>
</select>
<p class="text">↓ソースコード↓
<pre class="inside"><code>
&lt;select name=&quot;bloodtype&quot;&gt;
    &lt;option value=&quot;A&quot;&gt;A&lt;/option&gt;
    &lt;option value=&quot;B&quot;&gt;B&lt;/option&gt;
    &lt;option value=&quot;O&quot;&gt;O&lt;/option&gt;
    &lt;option value=&quot;AB&quot;&gt;AB&lt;/option&gt;
    &lt;option value=&quot;不明&quot;&gt;不明&lt;/option&gt;
&lt;/select&gt;
</code>
</pre>
</p>


<textarea name="message" placeholder="メッセージを入力"></textarea>

<p class="text">↓ソースコード↓
<pre class="inside"><code>
&lt;textarea name=&quot;message&quot; placeholder=&quot;メッセージを入力&quot;&gt;&lt;/textarea&gt;
</code>
</pre>
</p>

今すぐ<a href="https://google.co.jp">Google</a>で検索!

<p class="text">↓ソースコード↓
<pre class="inside"><code>
今すぐ&lt;a href=&quot;https://google.co.jp&quot;&gt;Google&lt;/a&gt;で検索!
</code>
</pre>
</p>
<a href="mailto:takuya11070221@gmail.com">お問い合わせ</a>

<p class="text">↓ソースコード↓
<pre class="inside"><code>
&lt;a href=&quot;mailto:takuya11070221@gmail.com&quot;&gt;お問い合わせ&lt;/a&gt;
</code>
</pre>
</p>


<p class="futoji">太字になっている</p>
<p class="text">↓ソースコード(CSS)↓
<pre class="inside"><code>
.futoji {
  font-weight: bold;
}
</code>
</pre>
</p>


<p class="color">背景色が付いている</p>
<p class="text">↓ソースコード(CSS)↓
<pre class="inside"><code>
.color {
  background-color: #faa;
}
</code>
</pre>
</p>

<p class="test">この文字の背景はどう変わっているのか</p>
<p class="text">↓ソースコード(CSS)↓
<pre class="inside"><code>
.test {
  background-color: #0bd;
  width: auto;
  height: auto;
  margin: 10px;
  padding: 40px;
}

</code>
</pre>
</p>

<div>
<p class="test2">要素の端とテキストの間に余白をつけます</p>
</div>
<p class="text">↓ソースコード(CSS)↓
<pre class="inside"><code>
.test2 {
  text-align: center;
  background-color: #0bd;
  padding: 50px;
  width: 500px;
  margin: 50px;
}

</code>
</pre>
</p>


<p class="test3">線を引いてます</p>
<p class="text">↓ソースコード(CSS)↓
<pre class="inside"><code>
.test3 {
  border-width: thick;
  border-style: solid;
}
</code>
</pre>
</p>


<p class="test4">色付きの線を引いてます</p>
<p class="text">↓ソースコード(CSS)↓
<pre class="inside"><code>
.test4 {
  border-style: solid;
  border-color: #0bd;
}
</code>
</pre>
</p>



<p class="test5">点線の線を引いてます</p>
<p class="text">↓ソースコード(CSS)↓
<pre class="inside"><code>
.test5 {
  border: dotted tomato;
}
</code>
</pre>
</p>


<p class="test6">下の線だけ引いてます</p>
<p class="text">↓ソースコード(CSS)↓
<pre class="inside"><code>
.test6 {
  border-bottom: 2px solid #0bd;
}
</code>
</pre>
</p>

<ul class="test7">
    <li>HTMLの基礎</li>
    <li>CSSの基礎</li>
    <li>デザインの基礎</li>
</ul>
<p class="text">↓ソースコード(CSS)↓
<pre class="inside"><code>
.test7 {
  list-style-type: square;
}
</code>
</pre>
</p>


<ol class="test8">
    <li>HTMLの基礎</li>
    <li>CSSの基礎</li>
    <li>デザインの基礎</li>
</ol>
<p class="text">↓ソースコード(CSS)↓
<pre class="inside"><code>
.test8 {
  list-style-type: hiragana;
}
</code>
</pre>
</p>


<p class="test9">文字の間隔を指定</p>
<p class="text">↓ソースコード(CSS)↓
<pre class="inside"><code>
.test9 {
  letter-spacing: 20px;
}
</code>
</pre>
</p>

<br><br>
<p>↓レイアウトFlexbox↓</p>

<div class="container">
    <div class="item">Item 1</div>
    <div class="item">Item 2</div>
    <div class="item">Item 3</div>
    <div class="item">Item 4</div>
</div>
<p class="text">↓ソースコード(HTML&CSS)↓
<pre class="inside"><code>
&lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;item&quot;&gt;Item 1&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 2&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 3&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 4&lt;/div&gt;
&lt;/div&gt;
.container {
  display: flex;
}
.item {
  background: #0bd;
  color: #fff;
  margin: 10px;
  padding: 10px;
}
</code>
</pre>
</p>



<div class="container2">
    <div class="item">Item 1</div>
    <div class="item">Item 2</div>
    <div class="item">Item 3</div>
    <div class="item">Item 4</div>
</div>
<p class="text">↓ソースコード(HTML&CSS)↓
<pre class="inside"><code>
&lt;div class=&quot;container2&quot;&gt;
    &lt;div class=&quot;item&quot;&gt;Item 1&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 2&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 3&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 4&lt;/div&gt;
&lt;/div&gt;
.container2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.item {
  background: #0bd;
  color: #fff;
  margin: 10px;
  padding: 10px;
}
</code>
</pre>
</p>


<div class="container3">
    <div class="item">Item 1</div>
    <div class="item">Item 2</div>
    <div class="item">Item 3</div>
    <div class="item">Item 4</div>
    <div class="item">Item 5</div>
    <div class="item">Item 6</div>
    <div class="item">Item 7</div>
    <div class="item">Item 8</div>
</div>
<p class="text">↓ソースコード(HTML&CSS)↓
<pre class="inside"><code>
&lt;div class=&quot;container3&quot;&gt;
    &lt;div class=&quot;item&quot;&gt;Item 1&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 2&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 3&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 4&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 5&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 6&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 7&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 8&lt;/div&gt;
&lt;/div&gt;
.container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
</code>
</pre>
</p>

<div class="container4">
    <div class="item">Item 1</div>
    <div class="item">Item 2</div>
    <div class="item">Item 3</div>
    <div class="item">Item 4</div>
</div>
<p class="text">↓ソースコード(HTML&CSS)↓
<pre class="inside"><code>
&lt;div class=&quot;container4&quot;&gt;
    &lt;div class=&quot;item&quot;&gt;Item 1&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 2&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 3&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 4&lt;/div&gt;
&lt;/div&gt;
.container4 {
  display: flex;
  flex-direction: column;
}
</code>
</pre>
</p>

<div class="container5">
    <div class="item">Item 1</div>
    <div class="item">Item 2</div>
    <div class="item">Item 3</div>
    <div class="item">Item 4</div>
</div>
<p class="text">↓ソースコード(HTML&CSS)↓
<pre class="inside"><code>
&lt;div class=&quot;container5&quot;&gt;
    &lt;div class=&quot;item&quot;&gt;Item 1&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 2&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 3&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 4&lt;/div&gt;
&lt;/div&gt;
.container5 {
  display: flex;
  justify-content: space-around;
}
</code>
</pre>
</p>

<div class="container6">
    <div class="item">Item 1</div>
    <div class="item">Item 2</div>
    <div class="item">Item 3</div>
    <div class="item">Item 4</div>
</div>
<p class="text">↓ソースコード(HTML&CSS)↓
<pre class="inside"><code>
&lt;div class=&quot;container6&quot;&gt;
    &lt;div class=&quot;item&quot;&gt;Item 1&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 2&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 3&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 4&lt;/div&gt;
&lt;/div&gt;
.container6 {
  display: flex;
  justify-content: space-between;
}
</code>
</pre>
</p>

<div class="container7">
    <div class="item">Item 1</div>
    <div class="item">Item 2</div>
    <div class="item">Item 3</div>
    <div class="item">Item 4</div>
</div>
<p class="text">↓ソースコード(HTML&CSS)↓
<pre class="inside"><code>
&lt;div class=&quot;container7&quot;&gt;
    &lt;div class=&quot;item&quot;&gt;Item 1&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 2&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 3&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 4&lt;/div&gt;
&lt;/div&gt;
.container7 {
  display: flex;
  align-items: flex-start;
}
</code>
</pre>
</p>

<div class="container8">
    <div class="item">Item 1</div>
    <div class="item">Item 2</div>
    <div class="item">Item 3</div>
    <div class="item">Item 4</div>
</div>
<p class="text">↓ソースコード(HTML&CSS)↓
<pre class="inside"><code>
&lt;div class=&quot;container8&quot;&gt;
    &lt;div class=&quot;item&quot;&gt;Item 1&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 2&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 3&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 4&lt;/div&gt;
&lt;/div&gt;
.container8 {
  display: flex;
  align-items: stretch;
}
</code>
</pre>
</p>

<br>

<div class="container9">
    <div class="item1">Item 1</div>
    <div class="item1">Item 2</div>
    <div class="item1">Item 3</div>
    <div class="item1">Item 4</div>
    <div class="item1">Item 5</div>
    <div class="item1">Item 6</div>
    <div class="item1">Item 7</div>
    <div class="item1">Item 8</div>
</div>
<p class="text">↓ソースコード(HTML&CSS)↓
<pre class="inside"><code>
&lt;div class=&quot;container9&quot;&gt;
    &lt;div class=&quot;item1&quot;&gt;Item 1&lt;/div&gt;
    &lt;div class=&quot;item1&quot;&gt;Item 2&lt;/div&gt;
    &lt;div class=&quot;item1&quot;&gt;Item 3&lt;/div&gt;
    &lt;div class=&quot;item1&quot;&gt;Item 4&lt;/div&gt;
    &lt;div class=&quot;item1&quot;&gt;Item 5&lt;/div&gt;
    &lt;div class=&quot;item1&quot;&gt;Item 6&lt;/div&gt;
    &lt;div class=&quot;item1&quot;&gt;Item 7&lt;/div&gt;
    &lt;div class=&quot;item1&quot;&gt;Item 8&lt;/div&gt;
&lt;/div&gt;
.container9 {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  height: 500px;
}
</code>
</pre>
</p>

<br>

<div class="container10">
    <div class="item2">Item 1</div>
    <div class="item2">Item 2</div>
    <div class="item2">Item 3</div>
    <div class="item2">Item 4</div>
</div>
<p class="text">↓ソースコード(HTML&CSS)↓
<pre class="inside"><code>
&lt;div class=&quot;container10&quot;&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 1&lt;/div&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 2&lt;/div&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 3&lt;/div&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 4&lt;/div&gt;
&lt;/div&gt;
.container10 {
  display: grid;
}
</code>
</pre>
</p>

<br>

<div class="container11">
    <div class="item2">Item 1</div>
    <div class="item2">Item 2</div>
    <div class="item2">Item 3</div>
    <div class="item2">Item 4</div>
    <div class="item2">Item 5</div>
    <div class="item2">Item 6</div>
</div>
<p class="text">↓ソースコード(HTML&CSS)↓
<pre class="inside"><code>
&lt;div class=&quot;container11&quot;&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 1&lt;/div&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 2&lt;/div&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 3&lt;/div&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 4&lt;/div&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 5&lt;/div&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 6&lt;/div&gt;
&lt;/div&gt;
.container11 {
  display: grid;
  grid-template-columns: 200px 200px 200px;
}
.item2 {
  background: #0bd;
  color: #fff;
  padding: 10px;
}
</code>
</pre>
</p>


<br>
<div class="container12">
    <div class="item2">Item 1</div>
    <div class="item2">Item 2</div>
    <div class="item2">Item 3</div>
    <div class="item2">Item 4</div>
    <div class="item2">Item 5</div>
    <div class="item2">Item 6</div>
</div>
<p class="text">↓ソースコード(HTML&CSS)↓
<pre class="inside"><code>
&lt;div class=&quot;container12&quot;&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 1&lt;/div&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 2&lt;/div&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 3&lt;/div&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 4&lt;/div&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 5&lt;/div&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 6&lt;/div&gt;
&lt;/div&gt;
.container12 {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap: 10px;
}
</code>
</pre>
</p>


<br>
<div class="container13">
    <div class="item">Item 1</div>
    <div class="item">Item 2</div>
    <div class="item">Item 3</div>
    <div class="item">Item 4</div>
    <div class="item">Item 5</div>
    <div class="item">Item 6</div>
</div>
<p class="text">↓ソースコード(HTML&CSS)↓
<pre class="inside"><code>
&lt;div class=&quot;container13&quot;&gt;
    &lt;div class=&quot;item&quot;&gt;Item 1&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 2&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 3&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 4&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 5&lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt;Item 6&lt;/div&gt;
&lt;/div&gt;
.container13 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

</code>
</pre>
</p>


<br>
<div class="container14">
    <div class="item2">Item 1</div>
    <div class="item2">Item 2</div>
    <div class="item2">Item 3</div>
    <div class="item2">Item 4</div>
    <div class="item2">Item 5</div>
    <div class="item2">Item 6</div>
</div>
<p class="text">↓ソースコード(HTML&CSS)↓
<pre class="inside"><code>
&lt;div class=&quot;container14&quot;&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 1&lt;/div&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 2&lt;/div&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 3&lt;/div&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 4&lt;/div&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 5&lt;/div&gt;
    &lt;div class=&quot;item2&quot;&gt;Item 6&lt;/div&gt;
&lt;/div&gt;
.container14 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  grid-template-rows: 200px 200px;
}
</code>
</pre>
</p>


<br>

<p class="test9">文字の間隔を指定</p>
<p class="text">↓ソースコード(HTML&CSS)↓
<pre class="inside"><code>
.test9 {
  letter-spacing: 20px;
}

</code>
</pre>
</p>

</body>
</html>